{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hoja de Vida Miguel</title>
    <link rel="stylesheet" href="{% static 'cv_miguel/css/style.css' %}">
</head>
<body>
    <div class="card">
        <img src="{% static 'cv_miguel/img/foto.jpg' %}" alt="Foto Miguel" class="perfil">
        <h1>Miguel Angel Mendoza Jaramillo</h1>
        <h3>Desarrollador Web/Ingeniero de Software</h3>
        <p class="descripcion">
            Apasionado por el desarrollo web, con conocimientos en Django, HTML, CSS y JavaScript.
        </p>
        <div class="info">
            <p><strong>Email:</strong> miguelangel11230@gmail.com</p>
            <p><strong>Ubicación:</strong> Pasto, Colombia</p>
            <p><strong>Teléfono:</strong> 3182653514</p>
        </div>
    </div>
</body>
</html>